$greenLight: #00f494;
$blackColor: #24233a;

$darkCode: #1a1d24;
$lightDarkCode: #222831;
$yellowDark: #e8b132;
$pinkRed: #e84279;

$fontFiraMono : 'Fira Mono', monospace;
$fontRobotoMono :'Roboto Mono', monospace;