@import './utils/variables';
@import './utils/mixin';

section {
   background-color: $yellowDark;
   margin: 2rem 0;
   color: $blackColor;
   padding: 2rem 1rem;
   border-radius: 5px;
   cursor: pointer;
   width: 100%;
   max-width: 500px;

   display: flex;
   flex-direction: column;

   .card_header {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;

      h2 {
         font-size: 1.5rem;
      }

      p {
         font-size: 1.3rem;
      }

      button {
         @include addButton;
         &:hover {
            background-color: green;
         }
      }

      @include md-screen {
         gap: 1rem;
      }
   }

   .card_body.show {
      margin-bottom: 1rem;
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      transition: 300ms ease-in-out;

      .confirm_btn {
         @include confirmButton;
         &:hover {
            background-color: green;
         }
      }

      .delete_btn {
         @include removeButton;
         &:hover {
            background-color: darkred;
         }
      }

      @include md-screen {
         gap: 1rem;
      }
   }

   .card_body.hidden {
      visibility: hidden;
   }

   .card_item {
      display: flex;
      justify-content: flex-start;
      padding: 0 1rem;
      align-items: center;
      margin-top: 0.5rem;
      transition: 300ms ease-in-out;

      .title {
         font-size: 0.8rem;
         font-weight: bold;
         color: $blackColor;
         padding: 0;
         width: 80%;
         word-wrap: break-word;

         @include md-screen {
            font-size: 1rem;
         }
      }

      .card_item_btn {
         display: flex;
         justify-content: flex-end;
         align-items: center;
         gap: 10px;
      }
      .edit_btn {
         @include editButton;
         &:hover {
            background-color: midnightblue;
         }
      }

      .delete_btn {
         @include removeButton;
         &:hover {
            background-color: midnightblue;
         }
      }

      @include md-screen {
         gap: 1rem;
      }

      li {
         font-size: 0.1rem;
      }
   }
}
