@import './utils/variables';

header {
   padding: 1rem 0;
   background-color: $yellowDark;
   color: $blackColor;
   text-align: center;
   width: 100%;

   h1{
      font-size: 2rem;
      margin-bottom: 10px;
   }

   h3{
      font-style: italic;
      color: $purpleColor;
   }
}
