@import './utils/mixin';

main{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 1rem;
    gap: 1rem;

    @include md-screen{
        padding: 2rem 3rem;
    }

    @include lg-screen{
        grid-template-columns: repeat(2, 1fr);
    }

    @include xl-screen{
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 4rem;
    }
}