@import './mixin';
@import './variables';

*::before,
*::after,
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: $yellowDark;
   color: white;
   font-family: $fontRobotoMono;
   width: 100%;
   min-height: 100vh;

   @include md-screen{
    background-color: $blackColor;
   }
}
